.icon-xe-new { background-image: url(../../../images/add.png); }
.icon-xe-edit { background-image: url(../../../images/edit.png); }
.icon-xe-export { background-image: url(../../../images/copy.png); }
